<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup(signupForm.$valid)'>
    <input required type='text' name='username' ng-model='user.username'>
    <span ng-show='signupForm.username.$invalid && !signupForm.username.$pristine'>Username required</span>
    <input required ng-minlength='4' type="password" name='password' ng-model='user.password'>
    <span class='ng-invalid' ng-show='signupForm.password.$invalid && !signupForm.password.$pristine'>Password must be at least 4 characters</span>
    <br>
    <button>Sign Up</button>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
  
  
</div>
