<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin(signinForm.$valid)'>
    <input required type='text' name='username' ng-model='user.username'>
    <input required type="password" name='password' ng-model='user.password'>
    <p class='ng-invalid' ng-show='signinForm.username.$invalid || signinForm.password.$invalid'>Username and password required.</p>
    <br>
    <button>Sign In</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>